.footer {
  body.light & {
    background: $light;
  }
  body.dark & {
    background: $dark;
  }
}
.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  body.light & {
    border-top: 1px solid $gray-50;
  }
  body.dark & {
    border-top: 1px solid $gray-400;
  }
}
