.icon {
    body.light & {
        stroke: $light;
    }
    body.dark & {
        stroke: $dark;
    }
    fill: none;
    width: 70%;
    height: auto;
}

.fpga {
    @extend .icon;
    stroke-width: 3;
}

.backend {
    @extend .icon;
    stroke-width: 15;
}

.frontend {
    @extend .icon;
    stroke-width: 4;
}

.devops {
    @extend .icon;
    body.light & {
        fill: $light;
    }
    body.dark & {
        fill: $dark;
    }
}

.cpu {
    @extend .icon;
    width: 60%;
    .trace {
        stroke-width: 15;
    }
}

.laptop {
    @extend .icon;
    stroke-linecap:round;
    stroke-linejoin:round;
    .touchpad {
        body.light & {
            fill: $light;
        }
        body.dark & {
            fill: $dark;
        }
        stroke-width:0.5;
        
    }
    .rest {
        stroke-width:2;
    }
}
