/* Font Mixins */
@mixin serif-font {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
@mixin title-font {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@mixin body-font {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
@mixin heading-font {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Variables */
// Restated Bootstrap Variables
$white: #ffffff !default;
$light: #ffffff !default;
$light-offset: #fafafa !default;
$gray-50: #e3e3e3 !default;
$gray-100: #b8b8b8 !default;
$gray-200: #898989 !default;
$gray-300: #595959 !default;
$gray-400: #363636 !default;
$gray-500: #121212 !default;
$gray-600: #101010 !default;
$gray-700: #0d0d0d !default;
$gray-800: #0a0a0a !default;
$gray-900: #050505 !default;
$dark-offset: #161616 !default;
$dark: #121212 !default;
$black: #000000 !default;

$primary: #fed136 !default;

@import "stroke.scss"
