.page-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .page-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.light {
  .page-section-odd{
    background-color: $light-offset;
  }
  .page-section-even{
    background-color: $light;
  }
}
.dark {
  .page-section-odd{
    background-color: $dark-offset;
  }
  .page-section-even{
    background-color: $dark;
  }
}
